= form_for [@patient, @resource] do |f|
  - if @resource.errors.any?
    #error_explanation
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :max
    %br/
    = f.text_field :max, :size => 4
  .field
    = f.label :min
    %br/
    = f.text_field :min, :size => 4
  .field
    = f.label :pulse
    %br/
    = f.text_field :pulse, :size => 4
  .field
    = f.label :measured_at
    %br/
    = f.text_field :measured_at, :size => 15
  .actions
    = f.submit
