%h2=t(".title")
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div= f.label :email
  %div= f.email_field :email
  %div= f.submit t(".send_instructions")
= render :partial => "devise/shared/links"
