.site_footer
  #{link_to t(".main"), root_path}
  -#| #{link_to t(".download"), '/software/Health-release-v25.apk'}
  | #{link_to t(".download"), '#' }
  | #{link_to t(".about"), about_path}
  | #{link_to t(".privacy"), privacy_path}
  | #{link_to t(".contacts"), contacts_path}