%tr
  %td= l(bloodpressure_threshold.created_at, :format => :short)
  %td= bloodpressure_threshold.high_sys
  %td= bloodpressure_threshold.low_sys
  %td= bloodpressure_threshold.high_dia
  %td= bloodpressure_threshold.low_dia
  %td= bloodpressure_threshold.high_pulse
  %td= bloodpressure_threshold.low_pulse